 <!DOCTYPE html>
<html>
  <head>
    <title>Calculadora</title>
    <meta charset="utf-8" />
<style>
 .btn{
      background-color:#000fff;
      padding: 10px 20px;
      border-radius: 5px
      }
.btn1{
     padding: 10px 20px;
     border-radius: 5px
     }
.calculadora{
     position: absolute;
     background-color: #e6e6e6;
     border-radius: 5px;
     top: 200px;
     left:  500px;
     }
</style>
  </head>
  <body onkeypress="manipularTeclado()">
<div class="calculadora">
      <table>
          <tr>
              <td colspan="6"><input type="text" id="display" value="0" class="btn1" disabled></td>
          </tr>
          <tr>
            <td><input type="button" value="7" class="btn1" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="8" class="btn1" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="9" class="btn1" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="*" class="btn1" onclick="atualizarOperacao(this)" /></td>
        </tr>
        <tr>
            <td><input type="button" value="4" class="btn1" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="5" class="btn1" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="6" class="btn1" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="-" class="btn1" onclick="atualizarOperacao(this)" /></td>
        </tr>
        <tr>
            <td><input type="button" value="1" class="btn1" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="2" class="btn1" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="3" class="btn1" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="+" class="btn1" onclick="atualizarOperacao(this)" /></td>
        </tr>
        <tr>
            <td><input type="button" value="C" class="btn1" onclick="limparDisplay()" /></td>
            <td><input type="button" value="0" class="btn1" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="=" class="btn" onclick="calcularOperacao()" /></td> 
            <td><input type="button" value="/" class="btn1" onclick="atualizarOperacao(this)" /></td>
        </tr>
      </table>
      <script>
        function atualizarDisplay(btn){
            const display = document.getElementById('display');
            if(display.value.length === 9) return;
            if(display.value === '0') display.value = btn.value;
            else display.value += btn.value;
        }

        function limparDisplay(){
            document.getElementById('display').value = '0';
        }

        var operador = ''
        var valor1 = 0
        function atualizarOperacao(btn){
            const display = document.getElementById('display');
            operador = btn.value;
            valor1 = parseInt(display.value);
            display.value = '0';
        }

        function calcularOperacao(){
            const display = document.getElementById('display');
            const valor2 = parseInt(display.value);
            valor1 = eval(valor1+operador+valor2);
            display.value = valor1;
            operador = '';
        }       

        function manipularTeclado(){
            if(/[0-9]/.test(event.key))
                atualizarDisplay({value: event.key});
        }
    </script>
</div>

  </body>
</html>
